* {
box-sizing: border-box; 
}

.product {
display: block;
height: auto;
width: 200px;
background-color: rgb(143, 209, 253);
}

.product > p {
font-size: 20px;
font-weight: bold;
text-align: center;
word-wrap: break-word;
}
.product img {
text-align: center;
}

.detailsButton {
display: block;
}
